// Dependencies
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

// Custom mixins and _variables
@import "{}/client/imports/mixins/variables.scss";
@import "{}/client/imports/mixins/emBasedOnPx.scss";

// Import html specific SCSS
@import "{}/client/imports/sidebar/sidebar.scss";

// SCSS for static app elements

.navbarContainer {
  height:auto;
}

.navbar-bottom {
  position: absolute;
  left: 8.9em;
  top: 5em;
}
