// Dependencies
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

// Custom mixins and _variables
@import "{}/client/imports/mixins/variables.scss";
@import "{}/client/imports/mixins/emBasedOnPx.scss";

// Import html specific SCSS
@import "{}/client/imports/sidebar/sidebar.scss";

// SCSS for static app elements

.navbarContainer {
  height:auto;
}

.navbarMenuList {

  @media (min-width: 768px){

  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .nav-item {

    }
  }
}

.navbar-bottom {

  li:active {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 768px){
    position: absolute;
    left: 9.1rem;
    top: 4rem;
    font-size: 1.6em;
  }

  @media (max-width: 767px) {

  }

}
